#nav_container {
    width: 100%;  
    display: -webkit-box;  
    display: -moz-box;
    display: box;
}

.nav_side {
    width: 240px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow:hidden;
}

#nav_main {
    -webkit-box-flex: 1;  
    -moz-box-flex: 1;
    box-flex: 1;  
}

body {
    font-family: 'メイリオ',Meiryo,Verdana,'ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro','ＭＳ Ｐゴシック',sans-serif;
}

article h1,
article h2,
article h3,
article h4,
article h5 {
    margin: 14px 5px 0px 0px;
}


.cnt {
    margin-left:auto;
    margin-right:auto;
    text-align:center;
}

#main_page {
    color: #408080;
    font-style: italic;
    width:480px;
}

#main_page li {
    width: 420px;
    text-align: left;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow:hidden;
}

#container {
    width:640px;
}

.tal {
    text-align:left;
}

.tar {
    text-align:right;
}

article, nav {
    font-size: 12px;
}

code {
     font-size: 12px;
     line-height: 1.5em;
}

blockquote {
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
}

pre {
background-color: #EEE;
border-color: #BBB;
border-style: solid;
border-width: 1px;
padding: 1em;
}
