div {
    position: relative;
    margin-top: -1px;
    padding-top:3px;
    padding-bottom:2px;
    padding-left:4px;
    height: 20px;
    width: 800px;
    font-size: 16px;
    vertical-align: middle;
}

.object_or_array {
    left: -14px;
}

.red {
    color: red;
    font-weight: bold;
}

.mark {
    position: relative;
    left: -17px;
    top: 1px;
}

span.key_value {
    position: relative;
    top: 2px;
}

#output {
    margin-top: 30px;
    border: none;
    position : relative;
    left: 50px;
}
