<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="UTF-8" />
<title>JSON VIEWER</title>
<meta name="description" content="38elements" />
 <link href="/atom.xml" rel="alternate" title="38elements" type="application/atom+xml" />
<link rel="stylesheet" href="/css/json_viewer.css" type="text/css" />
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-36127289-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
        <script type="text/template" id="_put_object">
            <div data-state="1" parent_id="{{ "{{parent_id" }}}}" id="{{ "{{id" }}}}" style="left: {{ "{{left" }}}}px;" data_type="Object"   key={{ "{{key" }}}} ><div class="mark">+</div><span class="key_value" >{{ "{{ key" }}}}:{}</span></div>
        </script>
        <script type="text/template" id="_put_array">
            <div data-state="1"  parent_id="{{ "{{parent_id" }}}}" id="{{ "{{id" }}}}" style="left:{{ "{{left" }}}}px;" data_type="Array"  key={{ "{{key" }}}} ><div class="mark">+</div><span class="key_value">{{ "{{key" }}}}:&nbsp;[]</span></div>
        </script>
        <script type="text/template" id="_put_string">
            <div parent_id="{{ "{{parent_id" }}}}" id="{{ "{{id" }}}}" style="left:{{ "{{left" }}}}px;" data_type="String"  key={{ "{{key" }}}} ><span class="key_value" >{{ "{{key" }}}}:&nbsp;&quot;{{ "{{data" }}}}&quot;</span></div>
        </script>
        <script type="text/template" id="_put_number">
            <div parent_id="{{ "{{parent_id" }}}}" id="{{ "{{id" }}}}" style="left:{{ "{{left" }}}}px;" data_type="Number"  key={{ "{{key" }}}} ><span class="key_value" >{{ "{{key" }}}}:&nbsp;{{ "{{data" }}}}</span></div>
        </script>
    </head>
</head>
<body>
        JSON<br/>
        <textarea id="input" rows="8" cols="80" >
        {
   &quot;results&quot; : [
      {
         &quot;address_components&quot; : [
            {
               &quot;long_name&quot; : &quot;1600&quot;,
               &quot;short_name&quot; : &quot;1600&quot;,
               &quot;types&quot; : [ &quot;street_number&quot; ]
            },
            {
               &quot;long_name&quot; : &quot;Amphitheatre Pkwy&quot;,
               &quot;short_name&quot; : &quot;Amphitheatre Pkwy&quot;,
               &quot;types&quot; : [ &quot;route&quot; ]
            },
            {
               &quot;long_name&quot; : &quot;Mountain View&quot;,
               &quot;short_name&quot; : &quot;Mountain View&quot;,
               &quot;types&quot; : [ &quot;locality&quot;, &quot;political&quot; ]
            },
            {
               &quot;long_name&quot; : &quot;Santa Clara&quot;,
               &quot;short_name&quot; : &quot;Santa Clara&quot;,
               &quot;types&quot; : [ &quot;administrative_area_level_2&quot;, &quot;political&quot; ]
            },
            {
               &quot;long_name&quot; : &quot;California&quot;,
               &quot;short_name&quot; : &quot;CA&quot;,
               &quot;types&quot; : [ &quot;administrative_area_level_1&quot;, &quot;political&quot; ]
            },
            {
               &quot;long_name&quot; : &quot;United States&quot;,
               &quot;short_name&quot; : &quot;US&quot;,
               &quot;types&quot; : [ &quot;country&quot;, &quot;political&quot; ]
            },
            {
               &quot;long_name&quot; : &quot;94043&quot;,
               &quot;short_name&quot; : &quot;94043&quot;,
               &quot;types&quot; : [ &quot;postal_code&quot; ]
            }
         ],
         &quot;formatted_address&quot; : &quot;1600 Amphitheatre Pkwy, Mountain View, CA 94043, USA&quot;,
         &quot;geometry&quot; : {
            &quot;location&quot; : {
               &quot;lat&quot; : 37.42291810,
               &quot;lng&quot; : -122.08542120
            },
            &quot;location_type&quot; : &quot;ROOFTOP&quot;,
            &quot;viewport&quot; : {
               &quot;northeast&quot; : {
                  &quot;lat&quot; : 37.42426708029149,
                  &quot;lng&quot; : -122.0840722197085
               },
               &quot;southwest&quot; : {
                  &quot;lat&quot; : 37.42156911970850,
                  &quot;lng&quot; : -122.0867701802915
               }
            }
         },
         &quot;types&quot; : [ &quot;street_address&quot; ]
      }
   ],
   &quot;status&quot; : &quot;OK&quot;
}
        </textarea><br/>
        <input type="button" id="display" value="display" />
         <br/>
         <br/>
        キーで検索<br/>
        <input type="text" value="location" id="search_key" />
        <input type="button" id="search_key_button" value="search" /><br/>
        <div id="output"></div>
        <script src="http://twitter.github.com/hogan.js/builds/2.0.0/hogan-2.0.0.js"></script>
        <script src="json_viewer.js"></script>

        <script src="http://twitter.github.com/hogan.js/builds/2.0.0/hogan-2.0.0.js"></script>
        <script src="/js/json_viewer.js"></script>
</body>
</html>
