<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="UTF-8" />
<title>{{ page.title }}</title>
<meta name="description" content="38elements" />
<link href="/atom.xml" rel="alternate" title="38elements" type="application/atom+xml" />
<link rel="stylesheet" href="/css/common.css" type="text/css" />
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-36127289-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
</head>
<body>
<div id="container" class="cnt">
<h3>{{ page.title }}</h3>
<article class="tal">
{{ content }}
</article>
<br/>
<nav id="nav_container">
    <p class="tal nav_side">{% if page.next %}≪<a href="{{ page.next.url}}" >{{ page.next.title }}</a> {% endif %}</p>
    <p id="nav_main"> <a href="/" >Main</a> </p>
    <p class="tar nav_side">{% if page.previous %}<a href="{{ page.previous.url}}" > {{ page.previous.title }}</a>≫{% endif %}</p>
</nav>
<br/>
<br/>
<br/>
</div>
</body>
</html>
